<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA73BsOktHfyqGT70_5ADDc2IALQzqWeKU</string>
	<key>GCM_SENDER_ID</key>
	<string>995212250289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.AirPlay-Devices</string>
	<key>PROJECT_ID</key>
	<string>airplay-devices</string>
	<key>STORAGE_BUCKET</key>
	<string>airplay-devices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995212250289:ios:f700f917d146b5b4236690</string>
</dict>
</plist>